.todoList {
  padding: 3rem;

  .todoListContainer {
    max-width: 50rem;
    margin: 0 auto;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 2rem;
    padding: 2rem;
  }
}
