root = true #chỉ định đây là file gốc

[*]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true #xóa tât cả các kí tự rỗng ở cuối mỗi dòng
insert_final_newline = true #Thêm một dòng trống vào cuối mỗi file
